.idea/
protected/runtime/
images/
protected/commands/
protected/extensions/
protected/messages/
protected/modules/auth/messages/
protected/modules/auth/views/layouts/
protected/tests/fixtures/
protected/tests/report/
protected/tests/unit/
protected/vendor/
themes/classic/views/layouts/
themes/classic/views/site/
themes/classic/views/system/
/.project
/.buildpath
